.container{
    width: 760px;
    margin:0 auto;
}

.text{
    font-family: sans-serif;
    text-align:left;
}


.center{
  border: 2px;
  width: 760px;
  text-align: center;
}

.pull-right{
    float: right;
}

.fs12{
    font-size: 20px;
    font-weight: normal;
}

/*フラッシュメッセージ*/
.hidden{
    display: none;
}

.flash_message{
    text-align: center;
    padding: 5px;
    color:blasck;
    background:skyblue;
}

/*バリデーションのエラーメッセージのcss*/
.error{
    font-size:12px;
    color: tomato;
    padding: 3px 0;
    display: block;
}
